/* Extra */
body {
    background: radial-gradient(#ffffff,#d8f2fc);
    color: #272727;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.logo {
  
    height: 100px;
}
.logo_img{
    height: 108px !important;
}
.navbar {
    align-items: center;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding: 10px 50px;
}
.push-left {
    margin-left: auto;
}
/* Menu */
.hamburger {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
    height: 30px;
    position: relative;
    width: 30px;
    z-index: 1000;
}
@media screen and (max-width: 768px) {
    .hamburger {
        display: inline-block;
   }
}
.hamburger-line {
    background: #272727;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-out;
    width: 100%;
}
.hamburger:hover .hamburger-line {
    background: #777;
}
.hamburger-line-top {
    top: 3px;
}
.menu-active .hamburger-line-top {
    top: 50%;
    transform: rotate(45deg) translatey(-50%);
}
.hamburger-line-middle {
    top: 50%;
    transform: translatey(-50%);
}
.menu-active .hamburger-line-middle {
    left: 50%;
    opacity: 0;
    width: 0;
}
.hamburger-line-bottom {
    bottom: 3px;
}
.menu-active .hamburger-line-bottom {
    bottom: 50%;
    transform: rotate(-45deg) translatey(50%);
}
.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.25s ease-in;
}
@media screen and (max-width: 768px) {
    .nav-menu {
        background: #fff;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translatey(-100%);
        text-align: center;
   }
    .menu-active .nav-menu {
        transform: translatey(0%);
        opacity: 1;
   }
}
.nav-menu .menu-item a {
    color: #444;
    display: block;
    line-height: 30px;
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-menu .menu-item a:hover {
    color: #777;
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    .nav-menu .menu-item a {
        font-size: 20px;
        margin: 8px;
   }
}
.sub-nav {
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 5px 5px;
    list-style: none;
    width: 230px;
}
@media screen and (max-width: 768px) {
    .sub-nav {
        position: relative;
        width: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0.20);
        box-sizing: border-box;
   }
}
.nav__link:hover + .sub-nav {
    display: block;
}
.sub-nav:hover {
    display: block;
}



.first_div{
    height: 70vh;
   padding: 50px !important;
   justify-content: center;
   align-items: center;
  display: flex;
   
}
.first_h1{
    font-size: xxx-large;
}
.btn-rose{
    background-color: #CC3181;
    padding: 12px;
    border-radius: 12px !important;
    margin-top: 20px;
    color: #fff;
}


/* product */
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item img {
    max-width: 100px;
    height: auto;
    margin-right: 15px;
}

.cart-item h3 {
    flex: 1; /* Allow the title to take available space */
}
.row{
    display: flex !important;
}
.btn-pink{
    background-color: #CC3181 !important;
    color: #ffffff !important;
}
a{
    text-decoration: none !important;
}
body{
    overflow-x:  hidden !important;
}
.active{
    background-color: #CC3181;
    color: #ffffff !important;
    border-radius: 3px;
}
.active a{
    color: #ffffff !important;
}
.total_tab{
    background-color: transparent;
    padding: 30px;
    border-radius: 3px;
    color: red;
    font-weight: 700 !important;
}



.cartimg{
   height: 30px;
   margin-top: -5px;
}
.logos{
    width: 60%;
}




.footerr{
    background-color: black;
    padding: 30px;
    color: #ffffff;
}


